.footer__container {
  max-width: 1170px;
  margin: auto;
  font-family: 'Poppins' sans-serif;
  line-height: 1.5;
}

.footer__items {
  list-style: none;
}

.footer {
  background-color: var(--secondary);
  padding: 40px 0;
  border-top-left-radius: 50px;
}

.footer__row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}

.footer__col {
  width: 25%;
  padding: 0 15px;
}

.footer__col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin: 0px 0px 30px 0px;
  font-weight: 500;
  position: relative;
}

.footer__col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer__items li:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.footer__items li a{
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer__items li a:hover {
  color: #fff;
  padding: 0px 0px 0px 15px;
  transform: scale(1.078);
}

.social__links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0px 10px 10px 0px;
  text-align: center;
  position: relative;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s ease;
}

.social__links a:hover {
  background-color: #fff;
}

.social__links a:hover i {
  color: var(--secondary);
}

@media (max-width: 767px) {
  .footer__col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px){
  .footer__col {
    width: 100%;
  }
}
