.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light);
}

.login_form {
  transition: all 1.5s ease;
}

.login_form {
  width: 480px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px --white-with-a-channel
}

.login_form h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.login_form form {
  padding: 0 40px;
  box-sizing: border-box;
}

.login_form form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.login_form form .txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  z-index: 1;
}

.login_form form .txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: all .5s ease;
}

.login_form form .txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  /* При валидации формы необходимо менять цвет на красный/зелёный для неверно/верно введенного блока */
  background: #2691d9;

  transition: all .5s ease;
}

.login_form form .txt_field .form__input__box:focus ~ label,
.login_form form .txt_field .form__input__box:valid ~ label {
  top: -5px;
  color: #2691d9;
}

.login_form form .txt_field input:focus ~ span::before,
.login_form form .txt_field input:valid ~ span::before {
  width: 100%;
}

.login_form .policy {
  display: flex;
  align-items: center;
}

.login_form .policy h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.login_form a {
  color: #0e4bf1;
}
.login_form a:hover {
  text-decoration: underline;
}

.login_form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 25px 0px 40px;
}

.login_form .input-box.button input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
  height: 52px;
  margin: 18px 0;
}

.login_form .input-box input.checkbox {
 left: 9px;
 top: 5px;
 width: 5px;
 height: 10px;
 border: solid white;
 border-width: 0 3px 3px 0;
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}

.login_form .input-box.button input {
  background: #4070f4;
  color: #fff;
  letter-spacing: 1px;
  border: none;

}

.login_form .input-box.button input:hover {
  background: #0e4bf1
}

.login_policy {
  margin-left: 0px;
}

.password__show {
  cursor: pointer;
  position: absolute;
  font-size: 22px;
  color: #333;
  top: 7px;
  right: 5px;
  align-items: center;
}

@media (max-width: 767px) {
  .login_form {
    width: 300px;
  }

  .login_form h1 {
    padding: 0 0 15px 0;
  }

  .login_form form {
    padding: 0 20px;
  }

  .login_form form .txt_field {
    margin: 20px 0;
  }

  .login_form form .txt_field input {
    height: 35px;
    font-size: 14px;
  }

  .login_form form .txt_field label {
    font-size: 14px;

  }

  .login_form form .txt_field span::before {
    top: 35px;
  }


  .login_form .policy h3 {
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }

  .login_form a {
    color: #0e4bf1;
  }
  .login_form a:hover {
    text-decoration: underline;
  }

  .login_form .text h3 {
    padding: 10px 0px 20px;
  }

  .login_form .input-box.button input {
    padding: 0 12px;
    font-size: 15px;
    height: 45px;
    margin: 15px 0;
  }

}

@media (max-width: 300px) {
  .login_form {
    max-width: 299px;
    width: 250px;
  }

  .login_form h1 {
    padding: 0 0 15px 0;
  }

  .login_form form {
    padding: 0 20px;
  }

  .login_form form .txt_field {
    margin: 20px 0;
  }

  .login_form form .txt_field input {
    height: 35px;
    font-size: 14px;
  }

  .login_form form .txt_field label {
    font-size: 14px;

  }

  .login_form form .txt_field span::before {
    top: 35px;
  }


  .login_form .policy h3 {
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }

  .login_form a {
    color: #0e4bf1;
  }
  .login_form a:hover {
    text-decoration: underline;
  }

  .login_form .text h3 {
    padding: 10px 0px 20px;
  }

  .login_form .input-box.button input {
    padding: 0 12px;
    font-size: 15px;
    height: 45px;
    margin: 15px 0;
  }
}
