<!-- policy -->
<!-- <div class="policy">
  <h1 class="head__text">Политика использование сервиса</h1>
  <div class="policy__paragraphes">

    <ul class="list__items">
      <li>
        <div class="item">
          <h2>Пункт 1</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit culpa nesciunt quidem saepe nemo aut, maxime at cupiditate voluptates cumque, sit error. Necessitatibus tempore in expedita, maxime accusantium at sapiente.


            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ex labore sunt, tenetur ratione facilis blanditiis inventore nesciunt architecto autem. Mollitia ipsa provident cumque nam quo possimus beatae accusamus non.
          </p>
        </div>
      </li>
      <li>
        <div class="item">
          <h2>Пункт 2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit culpa nesciunt quidem saepe nemo aut, maxime at cupiditate voluptates cumque, sit error. Necessitatibus tempore in expedita, maxime accusantium at sapiente.
          </p>
        </div>
      </li>
      <li>
        <div class="item">
          <h2>Пункт 3</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit culpa nesciunt quidem saepe nemo aut, maxime at cupiditate voluptates cumque, sit error. Necessitatibus tempore in expedita, maxime accusantium at sapiente.
          </p>
        </div>
      </li>
      <li>
        <div class="item">
          <h2>Пункт 2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit culpa nesciunt quidem saepe nemo aut, maxime at cupiditate voluptates cumque, sit error. Necessitatibus tempore in expedita, maxime accusantium at sapiente.
          </p>
        </div>
      </li>
      <li>
        <div class="item">
          <h2>Пункт 2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit culpa nesciunt quidem saepe nemo aut, maxime at cupiditate voluptates cumque, sit error. Necessitatibus tempore in expedita, maxime accusantium at sapiente.
          </p>
        </div>
      </li>
      <li>
        <div class="item">
          <h2>Пункт 2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit culpa nesciunt quidem saepe nemo aut, maxime at cupiditate voluptates cumque, sit error. Necessitatibus tempore in expedita, maxime accusantium at sapiente.
          </p>
        </div>
      </li>
      <li>
        <div class="item">
          <h2>Пункт 2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit culpa nesciunt quidem saepe nemo aut, maxime at cupiditate voluptates cumque, sit error. Necessitatibus tempore in expedita, maxime accusantium at sapiente.
          </p>
        </div>
      </li>
      <li>
        <div class="item">
          <h2>Пункт 2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit culpa nesciunt quidem saepe nemo aut, maxime at cupiditate voluptates cumque, sit error. Necessitatibus tempore in expedita, maxime accusantium at sapiente.
          </p>
        </div>
      </li>
    </ul>

  </div>
</div> -->


<!-- Registration -->
<div class="login_form">
  <h1>Регистрация</h1>
  <div id="login__registration__form__error__block">
    <p>
      errorblock
    </p>

  </div>
  <form class="registation__form" id="login__registration__form" method="post">
    <div class="txt_field">
      <input class="form__input__box" type="text" id="login__registration__name__input__box">
      <span></span>
      <label>Имя</label>
    </div>
    <div class="txt_field">
      <input class="form__input__box" type="email text" required id="login__registration__email__input__box">
      <span></span>
      <label>E-mail</label>
    </div>
    <div class="txt_field">
      <span class="eye" id="password__show__button"><i class="bi bi-eye password__show"></i></span>
      <input class="password__input_box form__input__box" type="password" required id="login__registration__password__input__box">
      <span></span>
      <label>Пароль</label>
    </div>
    <div class="txt_field">
      <input class="password__input_box form__input__box" type="password" required id="login__registration__password__confirm__input__box">
      <span></span>
      <label>Повтор пароля</label>
    </div>
    <div class="policy">
      <input type="checkbox" required class="checkbox">
      <h3>Я соглашаюсь с <a href="">политикой</a> и всеми правилами.</h3>
    </div>
    <div class="input-box button">
      <input type="submit" name="" value="Зарегестрироваться">
    </div>

    <div class="text">
      <h3>Уже зарегестрированы? <a href="">Войти</a></h3>
    </div>
  </form>
 </div>

<!-- Login -->
<!-- <div class="login_form">
  <h1>Вход</h1>
  <form method="post">
    <div class="txt_field">
      <input type="text" required>
      <span></span>
      <label>Username</label>
    </div>
    <div class="txt_field">
      <span class="eye"><i class="bi bi-eye password__show"></i></span>
      <input class="password__input_box" type="password" required>

      <span></span>

      <label>Password</label>
    </div>
    <div class="policy login_policy"><h3>Забыли пароль? <a href="#">Изменить пароль</a></h3></div>
    <div class="input-box button">
      <input type="submit" name="" value="Войти">
    </div>
    <div class="text">
      <h3>Нет аккаунта? <a href="">Регистрация</a></h3>
    </div>
  </form>
</div> -->
<!--  -->
