/* Обнуление */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;

}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}


/* Футер */

.footer {
  background: rgba(58,71,80,255);
  height: auto;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  min-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;

}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
  transition: color .4s ease;
}

/* иконка ютуба */

.socials a:hover i.bi-youtube{
  color: rgba(215,35,35,255)
}

/* иконка дискорда */

.socials a:hover i.bi-discord{
  color: #7289DA;
}

/* иконка гитхаба */

.socials a:hover i.bi-github{
  color: #0d1117;
}


.footer-bottom {
  background: rgba(48,56,65,255);
  width: 100vw;
  padding: 20px 0;
  text-align: center;

}

.footer-bottom p {

  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.designer {
  text-transform: capitalize;
  font-weight: 400;
  color: #fff;
  transition: color .9s ease;
}

.designer:hover {  opacity: .4}
